//<HEADER>=======================================
.header {
	position: relative;
	z-index: 2;
	// .header__wrapper
	&__wrapper {
	}
	// .header__container
	&__container {
	}
	// .header__body
	&__body {
		display: flex;
		min-height: 88px;
		@media (max-width: ($md1+px)) {
			@include adaptiv-value("min-height", 88, 67, 1);
		}
		> *:not(:last-child) {
			margin: 0px 10px 0px 0px;
		}
	}
	// .header__logo
	&__logo {
		// padding: 27px 0px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
}
.logo {
	// .logo__horses
	&__horses {
		display: flex;
		margin: 0px 6px 0px 0px;
		&._active .logo__horse:nth-child(1) {
			animation: horseInLeft 0.8s ease 0.6s;
		}
		&._active .logo__horse:nth-child(2) {
			animation: horseInLeft 0.8s ease 0.4s;
		}
		&._active .logo__horse:nth-child(3) {
			animation: horseInLeft 0.8s ease 0.2s;
		}
		&._active .logo__horse:nth-child(4) {
			animation: horseInLeft 0.8s ease 0s;
		}
	}
	// .logo__horse
	&__horse {
		@include adaptiv-value("margin-right", 2, 1, 1);
		img {
			@include adaptiv-value("width", 21.65, 18.75, 1);
			@include adaptiv-value("height", 31.2, 27, 1);
		}
		@keyframes horseInLeft {
			0% {
				opacity: 0;
				transform: translateX(-30px);
			}
			60% {
				opacity: 1;
				transform: translateX(3px);
			}
			80% {
				transform: translateX(-3px);
			}
			100% {
				transform: translateX(0);
			}
		}
	}
	// .logo__text
	&__text {
		color: #595653;
		@include adaptiv-value("font-size", 16.651, 14.418, 1);
		font-weight: 700;
		line-height: 108%; /* 17.983px */
		text-transform: uppercase;
		flex: 0 0 452px;
		transform: translate(50%, 0px);
		opacity: 0;
		transition:
			transform 0.8s ease 0s,
			opacity 0.8s ease 0s;
		&._active {
			transform: translate(0px, 0px);
			opacity: 1;
		}
	}
}
//</HEADER>=======================================

//<BURGER>=======================================
//</BURGER>=================================
