//<HEADER>=======================================
.header {
	position: relative;
	z-index: 2;
	// .header__wrapper
	&__wrapper {
	}
	// .header__container
	&__container {
	}
	// .header__body
	&__body {
		display: flex;
		min-height: 88px;
		@media (max-width: ($md1+px)) {
			@include adaptiv-value("min-height", 88, 67, 1);
		}
		> *:not(:last-child) {
			margin: 0px 10px 0px 0px;
		}
	}
	// .header__logo
	&__logo {
		// padding: 27px 0px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
}
.logo {
	// .logo__horses
	&__horses {
		display: flex;
		margin: 0px 6px 0px 0px;
	}
	// .logo__horse
	&__horse {
		@include adaptiv-value("margin-right", 2, 1, 1);
		img {
			@include adaptiv-value("width", 21.65, 18.75, 1);
			@include adaptiv-value("height", 31.2, 27, 1);
		}
	}
	// .logo__text
	&__text {
		color: #595653;
		@include adaptiv-value("font-size", 16.651, 14.418, 1);
		font-weight: 700;
		line-height: 108%; /* 17.983px */
		text-transform: uppercase;
		flex: 0 0 452px;
	}
}
//</HEADER>=======================================

//<BURGER>=======================================
//</BURGER>=================================
