//<МИКСИНЫ>=================================
@import "mixins";
//</МИКСИНЫ>=================================

//<ШРИФТЫ>=================================

//<Подключаем шрифты>=================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=================================

//<Иконочные шрифты>=================================
// @import "icons";
//</Иконочные шрифты>=================================

//<Swiper>=================================
// @import "swiper";
//</Swiper>=================================

//<Шрифт по умолчанию>=================================
$fontFamily: "GolosText";
$fontSize: 20px;
//</Шрифт по умолчанию>=================================

//</ШРИФТЫ>=================================

//<ПЕРЕМЕННЫЕ>=================================
$minWidth: 375;
$maxWidth: 1920; //ширина полотна
$maxWidthContainer: 1262; //ограничивающий контейнер 1262 +40 padding
$md1: 1365.98;
$md2: 991.98;
$md3: 767.98;
$md4: 639.98;
$md5: 479.98;

$mainColor: #313131;
$yellowColor: #fbce51;
$darkGrayColor: #010000;
$redColor: #f54932;
$blueColor: #3057a2;
//</ПЕРЕМЕННЫЕ>=================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=================================
@import "null";
body {
	color: $mainColor;
	line-height: 120%;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=================================

//<ОБОЛОЧКА>=================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&.loaded {
	}
}
//</ОБОЛОЧКА>=================================

//<ОГРАНИЧИВАЮЩИЙ КОНТЕЙНЕР>=================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0px auto;
	padding: 0px 20px;
	// @media (max-width: ($md3+px)) {
	// 	padding: 0 10px;
	// }
	// @media (max-width: ($md4+px)) {
	// 	padding: 0px 5px;
	// }
}
//</ОГРАНИЧИВАЮЩИЙ КОНТЕЙНЕР>=================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=================================
//@import "datepicker";
// @import "../scss/libs/gallery/lightgallery";
// @import "popup";
@import "header";
@import "footer";
// @import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=================================

//<ОСНОВНОЙ БЛОК>=================================
.page {
	flex: 1 1 auto;
	// .page__main
	&__main {
	}
}
//<ОБЩИЕ СТИЛИ>=================================

//<ОБЩИЕ СТИЛИ>=================================
.title {
	font-family: Merriweather;
	@include adaptiv-value("font-size", 36, 28, 1);
	font-weight: 400;
	line-height: 135%; /* 48.6px */
	text-transform: uppercase;
}
//<MAIN>=================================
.main {
	// .main__wrapper
	&__wrapper {
		// display: flex;
		position: relative;
		// max-width:1600px;
	}
	// .main__container
	&__container {
		// position: relative;
	}
	// .main__body
	&__body {
		display: flex;
		justify-content: space-between;
	}
	// .main__content
	&__content {
		flex: 0 1 542px;
		margin: 0px 0px 132px 0px;
	}
	// .main__media
	&__media {
	}
	// .main__running-line
	&__running-line {
	}
}
.main-content {
	// .main-content__title
	&__title {
		@include adaptiv-value("font-size", 60, 36, 1);
		line-height: 110%; /* 66px */
		p {
			text-align: right;
			&:not(:last-child) {
				text-align: center;
			}
		}
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
	}
	// .main-content__text
	&__text {
		font-size: 18px;
		font-weight: 400;
		line-height: 130%; /* 23.4px */
		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 40, 32, 1);
		}
	}
	// .main-content__buttons
	&__buttons {
		@media (min-width: ($md4+px)) {
			display: flex;
		}
	}
	// .main-content__button
	&__button {
		&:not(:last-child) {
			margin: 0px 16px 0px 0px;
		}
		@media (max-width: ($md4+px)) {
			&:not(:last-child) {
				margin: 0px 0px 14px 0px;
			}
		}
	}
}
.main-media {
	// position: relative;
	position: absolute;
	width: calc(1623.5 / 1222 * 100%);
	right: calc(-214.5 / 1222 * 100%);
	bottom: 0;
	// .main-media__sun
	&__sun {
		position: absolute;
		// z-index: 3;
		width: calc(660 / 1623.5 * 100%);
		height: calc(660 / 452.5 * 100%);
		bottom: calc(84 / 452.5 * 100%);
		right: calc(174 / 1623.5 * 100%);
		&_arc {
			width: 100%;
			height: 100%;
			bottom: 0;
			right: 0;
			background-color: #fbce51;
			border-radius: 50%;
		}
		// .main-media__sun_text
		&_text {
			img {
				padding: 13px;
			}
		}
	}
	// .main-media__chess
	&__chess {
		position: absolute;
		z-index: 3;
		padding: 0px 0px calc(255.89 / 1623.5 * 100%) 0px;

		// width: calc(660 / 1623.5 * 100%);
		// height: calc(660 / 452.5 * 100%);
		// bottom: calc(84 / 452.5 * 100%);
		// right: calc(174 / 1623.5 * 100%);

		// .main-media__chess_king
		&_king {
			width: calc(103.78 / 1623.5 * 100%);
			right: 0;
			img {
			}
		}
		// .main-media__chess_queen
		&_queen {
			// position: relative;
			// padding: 0px 0px 10% 0px;
		}
		// .main-media__chess_horse
		&_horse {
			display: none;
		}
		// .main-media__chess_pawn
		&_pawn {
			display: none;
		}
	}
	// .main-media__city
	&__city {
		// display: none;
		padding: 0px 0px calc(452.5 / 1623.5 * 100%) 0px;
	}
}
//</MAIN>=================================

//<ХЛЕБНЫЕ КРОШКИ>=================================
/* .breadcrumbs {
	overflow: auto;
	margin: 0px 0px 20px 0px;
	height: 20px;
	// .breadcrumbs__list
	&__list {
		display: flex;
		align-items: center;
		white-space: nowrap;
		li {
			margin: 0px 10px 0px 0px;
			padding: 0px 20px 0px 0px;
			background: url("../img/icons/arrow_text.png") right / 10px no-repeat;
			&:last-child {
				margin: 0px 0px 0px 0px;
				background: none;
			}
		}
	}
	// .breadcrumbs__link
	&__link {
		color: #1ab9ce;
		text-decoration: underline;
	}
	// .breadcrumbs__item
	&__item {
		color: 999px;
		font-weight: 300;
	}
} */
//</ХЛЕБНЫЕ КРОШКИ>=================================

//</ОСНОВНОЙ БЛОК>=================================
