//<МИКСИНЫ>=================================
@import "mixins";
//</МИКСИНЫ>=================================

//<ШРИФТЫ>=================================
//<Подключаем шрифты>=================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=================================

//<Иконочные шрифты>=================================
// @import "icons";
//</Иконочные шрифты>=================================

//<Шрифт по умолчанию>=================================
$fontFamily: "GolosText";
$fontSize: 20px;
//</Шрифт по умолчанию>=================================
//</ШРИФТЫ>=================================

//<Swiper>=================================
//</Swiper>=================================

//<ПЕРЕМЕННЫЕ>=================================
$minWidth: 375;
$maxWidth: 1920; //ширина полотна
$maxWidthContainer: 1262; //ограничивающий контейнер 1262 +40 padding
$md1: 1365.98;
$md2: 991.98;
$md3: 767.98;
$md4: 639.98;
$md5: 479.98;

$mainColor: #313131;
$yellowColor: #fbce51;
$darkGrayColor: #010000;
$grayColor: #d9d9d9;
$redColor: #f54932;
$blueColor: #3057a2;
//</ПЕРЕМЕННЫЕ>=================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=================================
@import "null";
body {
	color: $mainColor;
	line-height: 120%;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=================================

//<ОБОЛОЧКА>=================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&.loaded {
	}
}
//</ОБОЛОЧКА>=================================

//<ОГРАНИЧИВАЮЩИЙ КОНТЕЙНЕР>=================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0px auto;
	padding: 0px 20px;
}
//</ОГРАНИЧИВАЮЩИЙ КОНТЕЙНЕР>=================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=================================
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=================================
// @import "datepicker";
// @import "../scss/libs/gallery/lightgallery";
// @import "popup";
@import "header";
@import "footer";
// @import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=================================

//<ОСНОВНОЙ БЛОК>=================================
.page {
	flex: 1 1 auto;
	// .page__main
	&__main {
		@include adaptiv-value("margin-bottom", 80, 48, 1);
	}
	// .page__visit
	&__visit {
		@include adaptiv-value("margin-bottom", 64, 21, 1);
	}
	// .page__session
	&__session {
		@include adaptiv-value("margin-bottom", 200, 120, 1);
	}
	// .page__stages
	&__stages {
		@include adaptiv-value("margin-bottom", 200, 120, 1);
	}
	// .page__participants
	&__participants {
		@include adaptiv-value("margin-bottom", 140, 100, 1);
	}
}
//<ОБЩИЕ СТИЛИ>=================================

//<ОБЩИЕ СТИЛИ>=================================
.title {
	font-family: "Merriweather";
	@include adaptiv-value("font-size", 36, 28, 1);
	font-weight: 400;
	line-height: 135%; /* 48.6px */
	text-transform: uppercase;
	// .title_red
	&_red {
		color: $redColor;
		font-weight: 700;
	}
}
.controls {
	display: flex;
	align-items: center;
	column-gap: 14px;
}
//<MAIN>=================================
.main {
	padding: 88px 0px 0px 0px;
	margin-top: -88px;
	position: relative;
	z-index: 1;
	background-color: #e9ded4;
	// .main__wrapper
	&__wrapper {
		position: relative;
	}
	// .main__container
	&__container {
	}
	// .main__body
	&__body {
		@include adaptiv-value("margin-top", 36, 23, 1);
		min-height: 576px;
		display: flex;
		justify-content: space-between;
		position: relative;
		z-index: 4;
	}
	// .main__content
	&__content {
		flex: 0 1 542px;
		// @include adaptiv-value("margin-bottom", 132, 281, 1);
		// margin: 0px 0px 132px 0px;
	}
	// .main__media
	&__media {
	}
	// .main__running-line
	&__running-line {
	}
	// .main__bg-image
	&__bg-image {
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		mix-blend-mode: color-burn;
		background: url("@img/main/relief.jpg") 0 0 repeat;
	}
}
.running-line {
	position: relative;
	z-index: 3;
	margin: 0px auto;
	overflow: hidden;
	@include adaptiv-value("width", 2223, 1640, 1);
	// background-color: #f54932;
	background-color: #e6230a;
	// .running-line__body
	&__body {
		display: flex;
		width: 200%;
		animation: running-line 15s linear infinite;
		p {
			white-space: nowrap;
			width: 100%;
			@include adaptiv-value("max-height", 60, 38, 1);
			@include adaptiv-value("padding-top", 18, 10, 1);
			@include adaptiv-value("padding-bottom", 18, 10, 1);
			color: #fff;
			@include adaptiv-value("font-size", 24, 18, 1);
			font-weight: 600;
			line-height: 110%; /* 24.2px */
			text-transform: uppercase;
			span {
				&::after {
					margin: 0px 12px;
					display: inline-block;
					content: "";
					width: 6px;
					height: 6px;
					background-color: #fff;
					border-radius: 50%;
					transform: translate(0px, -50%);
				}
			}
		}
		@keyframes running-line {
			0% {
				transform: translateX(0%);
			}
			100% {
				transform: translateX(-50%);
			}
		}
	}
}
.main-content {
	position: relative;
	z-index: 1;
	// .main-content__title
	&__title {
		@include adaptiv-value("font-size", 60, 36, 1);
		line-height: 110%; /* 66px */
		// .main-content__title_center
		&_center,
		// .main-content__title_right
		&_right {
			display: block;
		}
		span {
			text-align: right;
			&:not(:last-child) {
				text-align: center;
			}
		}
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
	}
	// .main-content__text
	&__text {
		font-size: 18px;
		font-weight: 400;
		line-height: 130%; /* 23.4px */
		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 40, 32, 1);
		}
	}
	// .main-content__buttons
	&__buttons {
		@include adaptiv-value("margin-bottom", 130, 291, 1);
		@media (min-width: ($md4+px)) {
			display: flex;
		}
	}
	// .main-content__button
	&__button {
		&:not(:last-child) {
			margin: 0px 16px 0px 0px;
		}
		@media (max-width: ($md4+px)) {
			&:not(:last-child) {
				margin: 0px 0px 14px 0px;
			}
		}
	}
}
.main-wrapper {
	// .main-wrapper__sun
	&__sun {
		position: absolute;
		@include adaptiv-value("padding-bottom", 660, 297.47, 1);
		@include adaptiv-value("width", 660, 297.47, 1);
		@include adaptiv-value("margin-right", -41, 27.5, 1);
		@include adaptiv-value("bottom", 84, 66.69, 1);
		right: 0;
		background-color: #fbce51;
		border-radius: 50%;
		transition: transform 0.3s ease 0s;
		&_text {
			position: static;
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				mix-blend-mode: overlay;
				@include adaptiv-value("padding", 10, 6, 1);
				animation: oreol-text 20s infinite linear;
			}
			@keyframes oreol-text {
				0% {
					transform: rotate(0deg);
				}
				50% {
					transform: rotate(-180deg);
				}
				100% {
					transform: rotate(-360deg);
				}
			}
		}
		@media (max-width: ($md3+px)) {
			@include adaptiv-value("margin-right", -1000, 27.5, 1);
			@include adaptiv-value("bottom", -350, 84, 1);
		}
		@media (min-width: ($md3+px)) {
			@include adaptiv-value("padding-bottom", 660, -200, 1);
			@include adaptiv-value("width", 660, -200, 1);
			@include adaptiv-value("margin-right", -41, 200, 1);
			@include adaptiv-value("bottom", 84, 0, 1);
		}
	}
	// .main-wrapper__chess
	&__chess {
		// .main-wrapper__chess_king
		&_king {
			position: absolute;
			z-index: 1;
			@include adaptiv-value("width", 103.78, 47.44, 1);
			@include adaptiv-value("padding-bottom", 255.89, 116.98, 1);
			@include adaptiv-value("right", 445.98, 238.77, 1);
			@include adaptiv-value("bottom", 169.03, 113.4, 1);
			transform: rotate(-6deg);
		}
		// .main-wrapper__chess_queen
		&_queen {
			position: absolute;
			z-index: 1;
			@include adaptiv-value("width", 113.16, 46.98, 1);
			@include adaptiv-value("padding-bottom", 252.44, 104.8, 1);
			@include adaptiv-value("right", 101.21, 72.45, 1);
			@include adaptiv-value("bottom", 275.9, 166.91, 1);
			transform: rotate(15deg);
		}
		// .main-wrapper__chess_horse
		&_horse {
			position: absolute;
			@include adaptiv-value("width", 153.87, 76.71, 1);
			@include adaptiv-value("padding-bottom", 243.99, 121.63, 1);
			@include adaptiv-value("right", 281.38, 121.73, 1);
			@include adaptiv-value("bottom", -38, -16, 1);
			z-index: 3;
			transform: rotate(-10.6deg);
		}
		// .main-wrapper__chess_pawn
		&_pawn {
			position: absolute;
			@include adaptiv-value("width", 82.61, 41, 1);
			@include adaptiv-value("padding-bottom", 122.22, 61, 1);
			right: -29.45px;
			bottom: 19.58px;
			z-index: 3;
			transition:
				// visibility 0.3s ease 0s,
				opacity 0.3s ease 0s;
			opacity: 1;
			// visibility: visible;
			@media (max-width: ($md5+px)) {
				opacity: 0;
				// visibility: hidden;
			}
		}
	}
	// .main-wrapper__out
	&__out {
		position: absolute;
		@include adaptiv-value("margin-right", -214.5, -129.43, 1);
		@include adaptiv-value("width", 1623.5, 885.53, 1);
		right: 0;
		bottom: 0;
		// mix-blend-mode: color-burn;
	}
	// .main-wrapper__city
	&__city {
		z-index: 2;
		padding: 0px 0px 27% 0px;

		img {
		}
	}
}
//</MAIN>=================================

//<VISIT>=================================
.visit {
	// .visit__container
	&__container {
	}
	// .visit__body
	&__body {
		justify-content: center;
		display: flex;
		align-items: center;
		@media (max-width: ($md3+px)) {
			flex-wrap: wrap;
		}
	}
	// .visit__content
	&__content {
		flex: 1 1 auto;
	}
	// .visit__title
	&__title {
		@include adaptiv-value("padding-right", 64, 0, 1);
		@media (max-width: ($md3+px)) {
			p {
				&:not(:last-child) {
					margin: 0px 0px 24px 0px;
				}
			}
		}
		// .visit__title_normal
		&_normal {
			color: $mainColor;
		}
	}
	// .visit__image
	&__image {
		padding: 0px 0px calc(250 / 1222 * 100%) 0px;
		flex: 0 0 calc(394 / 1222 * 100%);
		transition: transform 0.3s ease 0s;
		border-radius: 50%;
		@media (max-width: ($md3+px)) {
			padding: 0px 0px 212px 0px;
			width: 335px;
			margin: 24px auto;
		}
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.05);
			}
		}
		&::before {
			content: "";
			display: block;
			position: absolute;
			z-index: 2;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: url("@img/main/relief.jpg") center/cover no-repeat;
			mix-blend-mode: color-burn;
			border-radius: 50%;
		}
	}
}
//</VISIT>=================================

//<SESSION>=================================
.session {
	// .session__container
	&__container {
	}
	// .session__body
	&__body {
		@media (min-width: ($md2+px)) {
			display: flex;
			align-items: flex-start;
			column-gap: 27px;
		}
		@media (max-width: ($md2+px)) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	// .session__media
	&__media {
		transition: transform 0.3s ease 0s;
		@media (min-width: ($md2+px)) {
			position: relative;
			flex: 0 0 calc(474 / 1222 * 100%);
			padding: 0px 0px 44.8% 0px;
			// margin: -24px 0px 0px -27px;
			transform: scale(calc(528 / 474));
		}
		@media (max-width: ($md2+px)) {
			padding: 0px 0px 420px 0px;
			width: 374px;
			margin: 0px 0px 24px 0px;
		}
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.14);
			}
		}
		&::before {
			content: "";
			position: absolute;
			z-index: 2;
			width: 100%;
			height: 100%;
			display: block;
			top: 0;
			left: 0;
			background: url("@img/main/relief.jpg") 0 0 repeat;
			mix-blend-mode: color-burn;
		}
		&::after {
			content: "";
			position: absolute;
			z-index: 1;
			width: 101%;
			height: 101%;
			top: -1px;
			left: -1px;
			background-color: #fff;
			mix-blend-mode: color-burn;
		}
	}
	// .session__content
	&__content {
		flex: 1 1 auto;
		// padding: 0px 0px 0px 44px;
		@media (min-width: ($md3+px)) {
			@include adaptiv-value("padding-left", 17, 0, 1);
		}
	}
}
.content-session {
	// .content-session__title
	&__title {
		@include adaptiv-value("margin-bottom", 60, 44, 1);
	}
	// .content-session__table
	&__table {
		@include adaptiv-value("margin-bottom", 48, 40, 1);
	}
	// .content-session__link
	&__link {
		display: block;
		@include adaptiv-value("font-size", 20, 18, 1);
		color: $blueColor;
		line-height: 120%; /* 24px */
	}
}
.table-session {
	// .table-session__body
	&__body {
		position: relative;
		hr {
			width: 100%;
			height: 2px;
			background-color: #d0d0d0;
		}
		@media (max-width: ($md3+px)) {
			display: grid;
			grid-template: repeat(5, auto) / 1fr;
		}
	}

	// .table-session__item
	&__item {
		align-self: end;

		@media (max-width: ($md3+px)) {
			&:not(:first-child) {
				padding: 15px 0px 0px 0px;
			}
			& hr:last-child {
				display: none;
			}
		}
		&_name,
		&_option {
			font-size: 20px;
			position: relative;
			line-height: 120%; /* 24px */
			font-weight: 600;
			span {
				text-decoration: $redColor line-through;
			}
			@media (min-width: ($md3+px)) {
				padding: 15px 0px;
				min-height: 100%;
			}
		}
		&_name {
			font-weight: 400;
			@media (min-width: ($md3+px)) {
				border-right: 2px solid #d0d0d0;
			}
		}
		&_option {
			@media (max-width: ($md3+px)) {
				padding: 0px 0px 15px 0px;
			}
			@media (min-width: ($md3+px)) {
				@include adaptiv-value("padding-left", 15, 0, 1);
			}
		}
		@media (min-width: ($md3+px)) {
			position: relative;
			display: grid;
			grid-template: auto / minmax(290px, 1fr) 1fr;
			&:last-child hr {
				display: none;
			}
		}
	}
}
//</SESSION>=================================

//<STAGES>=================================
.stages {
	// .stages__container
	&__container {
	}
	// .stages__title
	&__title {
		max-width: 806px;
		display: inline-block;
		@include adaptiv-value("font-size", 54, 36, 1);
		margin: 0px 0px 54px 0px;
		line-height: 110%;
		@media (min-width: ($md5+px)) {
			line-height: 120%;
		}
	}
	// .stages__subtitle
	&__subtitle {
		display: inline-block;
		max-width: 280px;
		@media (max-width: ($md5+px)) {
			display: block;
		}
		span {
			display: block;
			@include adaptiv-value("font-size", 20, 18, 1);
			line-height: 120%;
			text-transform: none;
			color: $blueColor;
			font-weight: 400;
			font-family: "GolosText";
			@media (max-width: ($md5+px)) {
				&:first-child {
					margin: calc(18px / 18px * 1em) 0px 0px 0px;
				}
			}
		}
	}
	// .stages__body
	&__body {
		position: relative;
		@media (max-width: ($md2+px)) {
			padding: 94px 0px 0px 0px;
		}
		@media (min-width: ($md1+px)) {
		}
	}
	// .stages__slider
	&__slider {
		@media (max-width: ($md4+px)) {
			overflow: hidden;
		}
	}
	// .stages__items
	&__items {
		display: grid;
		// grid-template-rows: 1fr;
		grid-auto-rows: 1fr;
		@media (min-width: ($md2+px)) {
			grid-template-columns: repeat(auto-fit, minmax(300px, 394px));
		}
		@media (min-width: ($md4+px)) {
			gap: 20px;
		}
		@media (max-width: ($md2+px)) {
			grid-template-columns: 1fr 1fr;
		}
		@media (max-width: ($md4+px)) {
			display: flex;
			margin: 0px 0px 28px 0px;
			transition: transform 0.5s ease 0s;
			line-height: 110%;
			gap: 20px;
		}
	}
	.stages__item_big .stages__item::before,
	.item-stages_big .item-stages::before {
		@media (max-width: ($md4+px)) {
			background: none;
		}
	}
	// .stages__item
	&__item {
		position: relative;
		display: flex;
		align-content: flex-start;
		flex-wrap: wrap;
		background-color: #e9ded4;
		padding: 20px;
		transition: transform 0.3s ease 0s;
		&::before {
			content: "";
			display: block;
			position: absolute;
			z-index: 2;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: url("@img/main/relief.jpg") 0 0 repeat;
			mix-blend-mode: color-burn;
		}
		@media (max-width: ($md4+px)) {
			flex: 0 0 100%;
		}
		@media (max-width: ($md2+px)) {
			padding: 62px 20px 34px 20px;
		}
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.03);
			}
		}
		& > .stages__item {
			padding: 0;
		}
		// .stages__item_big
		&_big {
		}
		// .stages__item_bigh
		&_bigh {
			@media (min-width: ($md2+px)) {
				grid-column: 3 / 4;
				grid-row: 1 / span 2;
			}
		}
		// .stages__item_bigw
		&_bigw {
			@media (min-width: ($md2+px)) {
				grid-column: 2 / span 2;
				grid-row: 3 / 4;
			}
		}
	}
	// .stages__controls
	&__controls {
		justify-content: center;
		@media (min-width: ($md4+px)) {
			display: none;
		}
	}
}
.item-stages {
	// .item-stages_big
	&_big {
	}
	// .item-stages__body
	&__body {
		font-size: 18px;
		display: flex;
		flex: 0 0 100%;
		&:not(:last-child) {
			margin: 0px 0px 28px 0px;
		}
	}
	// .item-stages__number
	&__number {
		font-size: 20px;
		font-weight: 600;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 3;
		flex: 0 0 36px;
		height: 36px;
		&::after {
			content: "";
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 100%;
			top: 1px;
			left: 0;
			border-radius: 50%;
			background-color: #fff;
		}
	}
	// .item-stages__text
	&__text {
		margin: 0px 0px 0px 16px;
		@include adaptiv-value("font-size", 20, 18, 1);
		font-weight: 500;
		@media (min-width: ($md1+px)) {
			flex: 0 1 446px;
		}
	}
	// .item-stages__image
	&__image {
		position: absolute;
		z-index: 4;
		@include adaptiv-value("width", 375, 318, 1);
		@include adaptiv-value("padding-bottom", 146, 118, 1);
		// animation: air-plane-1 2s linear 1;
		animation: air-plane-2 5s linear infinite;
		// animation: air-plane-3 2s linear 1;
		@media (min-width: ($md1+px)) {
			bottom: 70px;
			right: -50px;
		}
		@media (max-width: ($md1+px)) {
			top: -175px;
			@include adaptiv-value("right", 0, -300, 1);
		}
		@media (max-width: ($md2+px)) {
			top: -10px;
			left: 18px;
		}
		@keyframes air-plane-1 {
			0% {
				transform: rotate(-5deg) translate(100%, -20%);
			}
			100% {
				transform: rotate(0deg) translate(0%, 0%);
			}
		}
		@keyframes air-plane-2 {
			0% {
				transform: rotate(-15.3deg) translate(0%, 0%);
			}
			50% {
				transform: rotate(-14.3deg) translate(0%, 7%);
			}
			100% {
				transform: rotate(-15.3deg) translate(0%, 0%);
			}
		}
		@keyframes air-plane-3 {
			0% {
				transform: rotate(0deg) translate(0%, 0%);
			}
			100% {
				transform: rotate(5deg) translate(-400%, -200%);
			}
		}
	}
}
.controls-stages {
	// .controls-stages__arrow-left
	&__arrow-left {
	}
	// .controls-stages__pagination
	&__pagination {
		display: flex;
		column-gap: 6px;
		font-size: 16px;
	}
	// .controls-stages__arrow-right
	&__arrow-right {
	}
	// .controls-stages__dott
	&__dott {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: $grayColor;
		transition: background-color 0.3s ease 0s;
		&._active {
			background-color: $mainColor;
		}
	}
}
//</STAGES>=================================

//<PARTICIPANTS>=================================
.participants {
	// .participants__container
	&__container {
	}
	// .participants__body
	&__body {
		overflow: hidden;
		@media (max-width: ($md2+px)) {
			display: flex;
			flex-direction: column;
		}
	}
	// .participants__header
	&__header {
		display: flex;
		justify-content: space-between;
		// flex-direction: column;
		@include adaptiv-value("margin-bottom", 60, 40, 1);
	}
	// .participants__title
	&__title {
		font-family: Merriweather;
		@include adaptiv-value("font-size", 54, 36, 1);
		@media (max-width: ($md4+px)) {
			line-height: 110%; /* 64.8px */
		}
	}
	// .participants__controls
	&__controls {
		@media (max-width: ($md2+px)) {
			margin: 40px 0px 0px 0px;
			align-self: center;
		}
	}
	// .participants__row
	&__row {
		display: flex;
		margin: 0px -10px;
		transition: all 0.3s ease 0s;
		@media (max-width: ($md2+px)) {
		}
	}
	// .participants__column
	&__column {
		padding: 0px 10px;
		flex: 0 0 33.333%;
		display: flex;
		@media (max-width: ($md2+px)) {
			flex: 0 0 50%;
		}
		@media (max-width: ($md4+px)) {
			flex: 0 0 100%;
		}
	}
	// .participants__item
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 1 1 100%;
	}
}
.item-participants {
	// .item-participants__avatar
	&__avatar {
		@include adaptiv-value("width", 320, 244, 1);
		margin: 0px auto;
		&:not(:last-child) {
			margin-bottom: 28px;
		}
	}
	// .item-participants__image
	&__image {
		padding: 0px 0px 100% 0px;
		border-radius: 50%;
		img {
		}
	}
	// .item-participants__about
	&__about {
		text-align: center;
	}
	// .item-participants__name
	&__name {
		font-size: 24px;
		font-weight: 600;
		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 6, 8, 1);
		}
	}
	// .item-participants__info
	&__info {
		font-size: 20px;
		opacity: 0.8;
		&:not(:last-child) {
			margin: 0px 0px 20px 0px;
		}
	}
	// .item-participants__button
	&__button {
	}
}
.controls-participants {
	// .controls-participants__arrow-left
	&__arrow-left {
	}
	// .controls-participants__pagination
	&__pagination {
	}
	// .controls-participants__pagination-current
	&__pagination-current {
	}
	// .controls-participants__pagination-total
	&__pagination-total {
		display: inline-block;
		opacity: 0.6;
	}
	// .controls-participants__arrow-right
	&__arrow-right {
	}
}
//</PARTICIPANTS>=================================

//<ХЛЕБНЫЕ КРОШКИ>=================================
//</ХЛЕБНЫЕ КРОШКИ>=================================

//</ОСНОВНОЙ БЛОК>=================================
