//<МИКСИНЫ>=================================
@import "mixins";
//</МИКСИНЫ>=================================

//<ШРИФТЫ>=================================

//<Подключаем шрифты>=================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=================================

//<Иконочные шрифты>=================================
// @import "icons";
//</Иконочные шрифты>=================================

//<Swiper>=================================
// @import "swiper";
//</Swiper>=================================

//<Шрифт по умолчанию>=================================
$fontFamily: "GolosText";
$fontSize: 20px;
//</Шрифт по умолчанию>=================================

//</ШРИФТЫ>=================================

//<ПЕРЕМЕННЫЕ>=================================
$minWidth: 375;
$maxWidth: 1920; //ширина полотна
$maxWidthContainer: 1262; //ограничивающий контейнер 1262 +40 padding
$md1: 1365.98;
$md2: 991.98;
$md3: 767.98;
$md4: 639.98;
$md5: 479.98;

$mainColor: #313131;
$yellowColor: #fbce51;
$darkGrayColor: #010000;
$redColor: #f54932;
$blueColor: #3057a2;
//</ПЕРЕМЕННЫЕ>=================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=================================
@import "null";
body {
	color: $mainColor;
	line-height: 120%;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=================================

//<ОБОЛОЧКА>=================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&.loaded {
	}
}
//</ОБОЛОЧКА>=================================

//<ОГРАНИЧИВАЮЩИЙ КОНТЕЙНЕР>=================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0px auto;
	padding: 0px 20px;
	// @media (max-width: ($md3+px)) {
	// 	padding: 0 10px;
	// }
	// @media (max-width: ($md4+px)) {
	// 	padding: 0px 5px;
	// }
}
//</ОГРАНИЧИВАЮЩИЙ КОНТЕЙНЕР>=================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=================================
//@import "datepicker";
// @import "../scss/libs/gallery/lightgallery";
// @import "popup";
@import "header";
@import "footer";
// @import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=================================

//<ОСНОВНОЙ БЛОК>=================================
.page {
	flex: 1 1 auto;
	// .page__main
	&__main {
		@include adaptiv-value("margin-bottom", 80, 48, 1);
	}
	// .page__visit
	&__visit {
		@include adaptiv-value("margin-bottom", 64, 21, 1);
	}
	// .page__session
	&__session {
	}
}
//<ОБЩИЕ СТИЛИ>=================================

//<ОБЩИЕ СТИЛИ>=================================
.title {
	font-family: Merriweather;
	@include adaptiv-value("font-size", 36, 28, 1);
	font-weight: 400;
	line-height: 135%; /* 48.6px */
	text-transform: uppercase;
	span {
		color: $redColor;
		font-weight: 700;
	}
}
//<MAIN>=================================
.main {
	// background: rgba(251, 206, 81, 0.5) url("../img/main/relief.png") center/cover no-repeat;
	// .main__wrapper
	&__wrapper {
		position: relative;
	}
	// .main__container
	&__container {
	}
	// .main__body
	&__body {
		@include adaptiv-value("height", 576, 684, 1);
		display: flex;
		justify-content: space-between;
	}
	// .main__content
	&__content {
		flex: 0 1 542px;
		// @include adaptiv-value("margin-bottom", 132, 281, 1);
		// margin: 0px 0px 132px 0px;
	}
	// .main__media
	&__media {
	}
	// .main__running-line
	&__running-line {
	}
}
.running-line {
	position: relative;
	z-index: 1;
	margin: 0px auto;
	overflow: hidden;
	@include adaptiv-value("width", 2223, 1640, 1);
	background-color: #f54932;
	// .running-line__body
	&__body {
		display: flex;
		width: 200%;
		animation: running-line 15s linear infinite;
		p {
			width: 100%;
			@include adaptiv-value("max-height", 60, 38, 1);
			// @include adaptiv-value("width", 1920, auto, 1);
			white-space: nowrap;
			@include adaptiv-value("padding-top", 18, 10, 1);
			@include adaptiv-value("padding-bottom", 18, 10, 1);
			color: #fff;
			@include adaptiv-value("font-size", 22, 16, 1);
			line-height: 110%; /* 24.2px */
			text-transform: uppercase;
			span {
				&::after {
					margin: 0px 12px;
					display: inline-block;
					content: "";
					width: 6px;
					height: 6px;
					background-color: #fff;
					border-radius: 50%;
					transform: translate(0px, -50%);
				}
			}
		}
		@keyframes running-line {
			0% {
				transform: translateX(0%);
			}
			100% {
				transform: translateX(-50%);
			}
		}
	}
}
.main-content {
	position: relative;
	z-index: 1;
	// .main-content__title
	&__title {
		@include adaptiv-value("font-size", 60, 36, 1);
		line-height: 110%; /* 66px */
		p {
			text-align: right;
			&:not(:last-child) {
				text-align: center;
			}
		}
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
	}
	// .main-content__text
	&__text {
		font-size: 18px;
		font-weight: 400;
		line-height: 130%; /* 23.4px */
		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 40, 32, 1);
		}
	}
	// .main-content__buttons
	&__buttons {
		@media (min-width: ($md4+px)) {
			display: flex;
		}
	}
	// .main-content__button
	&__button {
		&:not(:last-child) {
			margin: 0px 16px 0px 0px;
		}
		@media (max-width: ($md4+px)) {
			&:not(:last-child) {
				margin: 0px 0px 14px 0px;
			}
		}
	}
}
.main-wrapper {
	// .main-wrapper__sun
	&__sun {
		position: absolute;
		@include adaptiv-value("padding-bottom", 660, 297.47, 1);
		@include adaptiv-value("width", 660, 297.47, 1);
		@include adaptiv-value("margin-right", -41, 27.5, 1);
		@include adaptiv-value("bottom", 84, 66.69, 1);
		right: 0;
		background-color: rgb(251, 206, 81, 100%);
		border-radius: 50%;
		transition: transform 0.3s ease 0s;
		&_text {
			position: static;
			img {
				@include adaptiv-value("padding", 13, 6, 1);
				animation: oreol-text 20s infinite linear;
			}
			@keyframes oreol-text {
				0% {
					transform: rotate(0deg);
				}
				50% {
					transform: rotate(-180deg);
				}
				100% {
					transform: rotate(-360deg);
				}
			}
		}
		@media (max-width: ($md3+px)) {
			@include adaptiv-value("margin-right", -1000, 27.5, 1);
			@include adaptiv-value("bottom", -350, 84, 1);
		}
		@media (min-width: ($md3+px)) {
			@include adaptiv-value("padding-bottom", 660, -200, 1);
			@include adaptiv-value("width", 660, -200, 1);
			@include adaptiv-value("margin-right", -41, 200, 1);
			@include adaptiv-value("bottom", 84, 0, 1);
		}
	}
	// .main-wrapper__chess
	&__chess {
		// .main-wrapper__chess_king
		&_king {
			position: absolute;
			@include adaptiv-value("width", 103.78, 47.44, 1);
			@include adaptiv-value("padding-bottom", 255.89, 116.98, 1);
			@include adaptiv-value("right", 445.98, 238.77, 1);
			@include adaptiv-value("bottom", 169.03, 113.4, 1);
			transform: rotate(-6deg);
		}
		// .main-wrapper__chess_queen
		&_queen {
			position: absolute;
			@include adaptiv-value("width", 113.16, 46.98, 1);
			@include adaptiv-value("padding-bottom", 252.44, 104.8, 1);
			@include adaptiv-value("right", 101.21, 72.45, 1);
			@include adaptiv-value("bottom", 275.9, 166.91, 1);
			transform: rotate(15deg);
		}
		// .main-wrapper__chess_horse
		&_horse {
			position: absolute;
			@include adaptiv-value("width", 153.87, 76.71, 1);
			@include adaptiv-value("padding-bottom", 243.99, 121.63, 1);
			@include adaptiv-value("right", 281.38, 121.73, 1);
			@include adaptiv-value("bottom", -38, -16, 1);
			z-index: 1;
			transform: rotate(-10.6deg);
		}
		// .main-wrapper__chess_pawn
		&_pawn {
			position: absolute;
			@include adaptiv-value("width", 82.61, 41, 1);
			@include adaptiv-value("padding-bottom", 122.22, 61, 1);
			right: -29.45px;
			bottom: 19.58px;
			z-index: 1;
			transition:
				// visibility 0.3s ease 0s,
				opacity 0.3s ease 0s;
			opacity: 1;
			// visibility: visible;
			@media (max-width: ($md5+px)) {
				opacity: 0;
				// visibility: hidden;
			}
		}
	}
	// .main-wrapper__out
	&__out {
		position: absolute;
		@include adaptiv-value("margin-right", -214.5, -129.43, 1);
		@include adaptiv-value("width", 1623.5, 885.53, 1);
		right: 0;
		bottom: 0;
	}
	// .main-wrapper__city
	&__city {
		padding: 0px 0px calc(452.5 / 1623.5 * 100%) 0px;
	}
}
//</MAIN>=================================

//<VISIT>=================================
.visit {
	// .visit__container
	&__container {
	}
	// .visit__body
	&__body {
		justify-content: center;
		display: flex;
		align-items: center;
		@media (max-width: ($md3+px)) {
			flex-wrap: wrap;
		}
	}
	// .visit__content
	&__content {
		flex: 1 1 auto;
	}
	// .visit__title
	&__title {
		@include adaptiv-value("padding-right", 64, 0, 1);
		@media (max-width: ($md3+px)) {
			p {
				&:not(:last-child) {
					margin: 0px 0px 24px 0px;
				}
			}
		}
	}
	// .visit__image
	&__image {
		padding: 0px 0px calc(250 / 1222 * 100%) 0px;
		flex: 0 0 calc(394 / 1222 * 100%);
		@media (max-width: ($md3+px)) {
			padding: 0px 0px 212px 0px;
			width: 335px;
			margin: 0px auto 24px auto;
		}
	}
}
//</VISIT>=================================

//<SESSION>=================================
.session {
	// .session__container
	&__container {
	}
	// .session__body
	&__body {
		display: flex;
		// align-items: center;
	}
	// .session__media
	&__media {
		flex: 0 0 474px;
		padding: 0px 0px 47% 0px;
	}
	// .session__content
	&__content {
		flex: 1 1 auto;
		padding: 0px 0px 0px 44px;
		@include adaptiv-value("padding-left", 44, 0, 1);
	}
}
.content-session {
	// .content-session__title
	&__title {
		margin: 0px 0px 60px 0px;
	}
	// .content-session__table
	&__table {
	}
	// .content-session__link
	&__link {
	}
}
.table-session {
	// .table-session__body
	&__body {
		display: grid;
		grid-template: repeat(5, 1fr) / 1fr 1fr;
		gap: 32px;
	}
	// .table-session__item
	&__item {
		// .table-session__item_name
		&::after {
			position: absolute;
			bottom: -17px;
			left: 0;
			content: "";
			width: 110%;
			height: 2px;
			background-color: #d0d0d0;
		}
		&_name {
			font-weight: 400;
		}
		// .table-session__item_option

		.table-session__item_option ::after {
			:last-child {
				height: 0;
			}
		}
		&_name,
		&_option {
			font-size: 20px;
			position: relative;
			line-height: 120%; /* 24px */
		}
		&_option {
			font-weight: 600;
			&::after {
				width: 100%;
			}
			span {
				text-decoration: $redColor line-through;
			}
		}
	}
}
//</SESSION>=================================

//<ХЛЕБНЫЕ КРОШКИ>=================================
/* .breadcrumbs {
	overflow: auto;
	margin: 0px 0px 20px 0px;
	height: 20px;
	// .breadcrumbs__list
	&__list {
		display: flex;
		align-items: center;
		white-space: nowrap;
		li {
			margin: 0px 10px 0px 0px;
			padding: 0px 20px 0px 0px;
			background: url("../img/icons/arrow_text.png") right / 10px no-repeat;
			&:last-child {
				margin: 0px 0px 0px 0px;
				background: none;
			}
		}
	}
	// .breadcrumbs__link
	&__link {
		color: #1ab9ce;
		text-decoration: underline;
	}
	// .breadcrumbs__item
	&__item {
		color: 999px;
		font-weight: 300;
	}
} */
//</ХЛЕБНЫЕ КРОШКИ>=================================

//</ОСНОВНОЙ БЛОК>=================================
